.header-background {
  background-image: url("../img/Header2.png");
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 40rem;
  display: flex;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  width: 2rem;
  font-size: 62px;
}

.div-head {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 5rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60rem;
  margin-right: 5rem;
}

.item-dark {
  background-color: #000000;
  margin-bottom: -20px;
}

.item-dark hr {
  border-top: 3px solid white;
}

.item-dark a {
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  transition: transform 0.3s ease;
}

header i {
  display: inline-block;
  transition: transform 0.3s ease;
}

header i:hover {
  transform: scale(1.2);
}

.item-dark a:hover {
  text-decoration: none;
  transform: scale(1.2);
}

header p {
  width: 25rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(31, 31, 31);
  color: white;
}

h1,
h2 {
  font-weight: bold;
}

header {
  margin-bottom: 2rem;
}

.card {
  background-color: black;
}

footer {
  width: 100%;
  bottom: 0;
}

.btn-dark {
  background-color: #333333;
  border-color: #000000;
}

.btn-dark:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

@media (max-width: 768px) {
  .header-background {
    min-height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .div-head {
    margin-left: 0;
    margin-bottom: 2rem; /* Agrega un espacio entre el div y la lista */
    flex-direction: column;
    align-items: center; /* Centra los elementos verticalmente */
    text-align: center;
  }

  .merriweather-light {
    width: auto;
    font-size: 52px;
  }

  .nav-list {
    width: auto;
    margin-right: 0;
  }

  header p {
    width: 18rem;
  }
}
