body {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2 {
  font-weight: bold;
}

header {
  margin-bottom: 2rem;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem;
}

ul.list-unstyled {
  padding-left: 0;
}

ul.list-unstyled li {
  margin-bottom: 0.5rem;
}
